.editRecipe {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 95%;
    background: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow-y: auto;
  }
  
  .ingredient {
    margin-bottom: 16px; 
  }
  
  .step {
    margin-bottom: 16px; 
  }
  